{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm mt-4">
            <a href="/race" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create Race</a>
        </div>
    </div>
{% endblock %}
